{% extends 'site_base.html' %}
{% load i18n %}
{% block body %}
<h1>{{ knowledge.whatFor }}</h1>
<ul>
    {% if knowledge.mapa %}<div><strong>{% trans 'Map:' %} </strong>{{ knowledge.mapa }}</div>{% endif %}
    {% if knowledge.camada %}<div><strong>{% trans 'Layer:' %} </strong>{{ knowledge.camada }}</div>{% endif %}
    <div><strong>{% trans 'Frequency:' %} </strong>{{ knowledge.frequencia }}</div>
    <div><strong>{% trans 'Publication date:' %} </strong>{{ knowledge.pub_date }}</div>
    <div><strong>{% trans 'User:' %} </strong>{{ knowledge.usuario }}</div>
    <div><strong>{% trans 'Scale:' %}</strong>1:{{ knowledge.desirable_scale }}</div>
    <div><strong>{% trans 'Resolution:' %}</strong>{{ knowledge.resolution }}</div>
    <div><strong>{% trans 'Additional Information:' %}</strong>{{ knowledge.missing_information }}</div>
    <div><br/></div>
    
    <div><strong>{% trans 'The information is used for:' %} </strong>{{ knowledge.whatFor }}</div>
    
</ul>
{% endblock %}