<div class="row" ng-repeat="attr in attributes">
    <div class="col-md-3">
        <p id="attr_text_name{{ attr.id }}" class="well well-sm">{{ attr.attributeName }}</p>
        <input type="hidden" name="attr_name{{ attr.id }}" value="{{ attr.attributeName }}"/>
    </div>
    <div class="col-md-2">
        <p id="attr_text_type{{ attr.id }}" class="well well-sm">{{ attr.attributeType }}</p>
        <input type="hidden" name="attr_type{{ attr.id }}" value="{{ attr.attributeType }}"/>
    </div>
    <div class="col-md-2">
        <p id="attr_text_size{{ attr.id }}" ng-hide="attr.attributeSize == 0" class="well well-sm">{{ attr.attributeSize }}</p>
        <input type="hidden" name="attr_size{{ attr.id }}" value="{{ attr.attributeSize }}"/>
    </div>
    <div class="col-md-2">
        <p id="attr_text_decimal{{ attr.id }}" ng-hide="attr.attributeDecimal == 0" class="well well-sm">{{ attr.attributeDecimal }}</p>
        <input type="hidden" name="attr_decimal{{ attr.id }}" value="{{ attr.attributeDecimal }}"/>
    </div>
    <div class="btn-group col-md-3" role="group">
        <div class="btn btn-primary" ng-click="layer.editAttribute(attr.id)">
            /
        </div>
        <div class="btn btn-danger" ng-click="layer.removeAttribute(attr.id)">
            x
        </div>
    </div>
</div>