{% extends 'site_base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% load i18n %}
{% load url from future %}
{% block body %}
    {% if request.user.is_authenticated %}
    <div class="row" ng-app="layer_app">
        <div class="row page-header">
            <h4><b>{% trans 'New Layer' %}</b></h4>
        </div>
        <form role="form" ng-submit="layerCtrl.createLayer('{% url 'ledt:create_layer' %}', '{{ csrf_token }}')" ng-controller="LayerController as layerCtrl">
        {% csrf_token %}
            <div class="row">
                <div class="row">
                    <div class="row">
                        <div class="col-md-8 form-group">
                                <label>{% trans 'Name' %}</label>
                                <input type="text" class="form-control" id="layer_name" ng-model="layerCtrl.layerName" name="layer_name" placeholder="name">
                        </div>
                        <div class="col-md-4 form-group">
                            <label>{% trans 'Type of layer' %}</label>
                            <select class="form-control" id="layer_type" name="layer_type" ng-model="layerCtrl.layerType">
                                <option value="Point">{% trans 'Point' %}</option>
                                <option value="Line">{% trans 'Line' %}</option>
                                <option value="Polygon">{% trans 'Polygon' %}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row page-header"></div>
                    <div class="row" ng-controller="FormController as formCtrl">
                        <div class="col-md-3 form-group">
                            <label>{% trans 'Attribute name' %}</label>
                            <input id="attr_name" type="text" class="form-control" ng-model="layerCtrl.attributeName">
                        </div>
                        <div class="col-md-3" >
                            <label>{% trans 'Type of attribute' %}</label>
                            <select class="form-control" id="attr_type" ng-model="layerCtrl.attributeType" ng-click="formCtrl.setAttributeType(layerCtrl.attributeType)">
                                <option value="C" >{% trans 'Character' %}</option>
                                <option value="N" >{% trans 'Number' %}</option>
                                <option value="L" >{% trans 'Long' %}</option>
                                <option value="D" >{% trans 'Date' %}</option>
                            </select>
                        </div>
                        <div class="col-md-3" ng-show="formCtrl.hasSize()">
                            <label>{% trans 'size of attribute' %}</label>
                            <input id="attr_size" type="text" ng-model="layerCtrl.attributeSize" class="form-control">
                        </div>
                        <div class="col-md-3" ng-show="formCtrl.hasDecimal()">
                            <label>{% trans 'precision of decimal number' %}</label>
                            <input id="attr_decimal" type="text" ng-model="layerCtrl.attributeDecimal" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div id="add-line" class="btn btn-default btn-sm pull-right" ng-click="layerCtrl.createAttribute()">
                            {% trans 'Add' %}
                        </div>
                    </div>
                    <div class="row page-header">
                        <h5><b>{% trans 'list of attributes' %}</b></h5>
                    </div>
                    <attributes-list></attributes-list>
                </div>
            </div>
            <div class="row page-header"></div>
            <div class="row">
                <input type="submit" class="btn btn-lg btn-primary pull-right" value="{% trans 'Create layer' %}">
            </div>
        </form>
    </div>
    <script src="{% static 'layerEditor/angular.min.js' %}"></script>
    <script src="{% static 'layerEditor/new_layer.js' %}"></script>
    {% else %}
        <p>{% trans 'You need to be logged in.' %}</p>
    {%  endif %}
{% endblock %}