{% extends 'site_base.html' %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% load i18n %}
{% load url from future %}
{% block body %}
    <div class="row">
        <div class="row page-header">
            <h4><b>{% trans 'Layer attributes' %}</b></h4>
        </div>
        <form role="form" action="{% url 'ledt:create_layer' %}" method="post">
        {% csrf_token %}
            <div class="row">
                <div id="attribute_line" class="hidden">
                    <div id="attr_l">
                        <div class="row form-group">
                            <label>{% trans 'Attribute name' %}</label>
                            <input id="attr_name" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row" id="attributes-list">
                    <div class="row form-group">
                            <label>{% trans 'Name' %}</label>
                            <input type="text" class="form-control" id="layer_name" name="layer_name" placeholder="name">
                    </div>
                    <div class="row form-group">
                        <label>{% trans 'Type of layer' %}</label>
                        <select class="form-control" id="layer_type" name="layer_type">
                            <option>{% trans 'Point' %}</option>
                            <option>{% trans 'Line' %}</option>
                            <option>{% trans 'Polygon' %}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                        <button id="remove-line" type="button" class="btn btn-lg btn-danger pull-left">{% trans 'Remove attribute' %}</button>
                        <button id="add-line" type="button" class="btn btn-lg btn-primary pull-right">{% trans 'Add attribute' %}</button>
                </div>
                <script src="{% static 'layerEditor/jquery-2.1.3.min.js' %}"></script>
                <script src="{% static 'layerEditor/new_layer.js' %}"></script>
            </div>
            <div class="row page-header"></div>
            <div class="row">
                <input type="submit" class="btn btn-lg btn-primary pull-right" value="{% trans 'Create layer' %}">
            </div>
        </form>
    </div>
{% endblock %}