{% extends 'site_base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% load i18n %}

{% block head %}
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'layerEditorNew/ol.css' %}" type="text/css">
<script src="{% static 'layerEditorNew/ol.js' %}"></script>

{% endblock %}
{% block body %}
<div class="container-fluid">

<div class="row-fluid">
  <div class="span12">
    <div id="map" class="map"></div>
  </div>
  <form class="form-inline">
    <label>Geometry type &nbsp;</label>
    <select id="type">
      <option value="Point">Point</option>
      <option value="LineString">LineString</option>
      <option value="Polygon">Polygon</option>
    </select>
  </form>
</div>
<div id="data_geo" class="hidden">{{ layer.geom.geojson }} </div>
</div>
<script src="{% static 'layerEditorNew/edit_layer.js' %}"></script>
{% endblock %}
