{% extends 'site_base.html' %}
{% load i18n %}
{% block body %}
    <h1>{{ community.name }}</h1>

    <p>{{ community.description }}</p>
    <p> {% trans 'Creator: ' %}{{ community.owner }}</p>

    {%  if community.not_has_main_layer %}
        <p><a href="{% url 'layerEditor:new_layer' community.id %}">Create the main layer of community</a></p>
    {% endif %}

    <p> {% trans 'Members: ' %}</p>
    <ul>
            {% for user in community.users %}
                 <li>{{ user }}</li>
            {% endfor %}
    </ul>
    <ul>
            {% if community.not_need_invitation %}
                <a href="{% url 'community:join_us' community.id %}">{% trans 'Join-us ' %}</a>
            {% endif %}
    </ul>
{% endblock %}