{% extends 'site_base.html' %}
{% load i18n %}
{% block body %}
    <h1>{{ community.name }}</h1>

    <p>{{ community.description }}</p>
    <p> {% trans 'Creator: ' %}{{ community.owner }}</p>

    <p> {% trans 'Members: ' %}</p>
    <ul>
            {% for user in community.users %}
                 <li>{{ user }}</li>
            {% endfor %}
    </ul>
     <ul>   {% if community.not_need_invitation and request.user.is_not_member %}
                <a href="{% url 'community:join_us' community.id %}"> {% trans 'Join-us' %}</a>
            {% endif %}
     </ul>
{% endblock %}